{{extend 'layout.html'}}
<div class="row">

<div class="span2">
{{=form}}
<div class='heading'>
<p>This page provides a global summary of the binding predictions over
a whole genome or set of proteins. It may be helpful for selection of candidate proteins.
This process will take several minutes for a bacterial genome with multiple alleles.
Results are cached for the selected cutoff/min alleles.
</div>
</div>

<div id="resultdiv" class="span9 offset1">

</div>
</div>

<script>
jQuery('#myform').submit(function() {
  $( ".span9" ).empty();
  $("#resultdiv").html('<div class="ajax-loader"><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'analysegenome.load')}}',
    ['label','genome','method','n','perccutoff'], 'resultdiv');
  return false;
});
</script>



