{{extend 'layout.html'}}

<div class="help-page">
<h4>
{{=T('''D. Farrell and S. V Gordon, “Epitopemap: a web application for integrated
whole proteome epitope prediction,” BMC Bioinformatics, vol. 16, no. 1, p. 221, 2015.''')}}
</h4>

{{=H5('Links')}}

<li>
{{=A('Article on BMC',_href='http://www.biomedcentral.com/1471-2105/16/221')}}
<li>
{{=A('Github page',_href='https://github.com/dmnfarrell/epitopemap')}}
<li>
{{=A('App Download page',_href='http://dmnfarrell.github.io/epitopemap/')}}


</div>
