{{extend 'layout.html'}}
<div class="row">

<div class="span2">
{{=form}}
<div class='heading'>
<p>Compare binders from 2 methods for the same genome/set of proteins.
</div>
</div>

<div id="resultdiv" class="span9 offset1">

</div>
</div>

<script>
jQuery('#myform').submit(function() {
  $( ".span9" ).empty();
  $("#resultdiv").html('<div class="ajax-loader"><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'correlationanalysis.load')}}',
    ['label','genome','method1','method2','n'], 'resultdiv');
  return false;
});
</script>



