{{extend 'layout.html'}}
<div class="row">

<div class="span2">
{{=form}}
<div class="heading">
Get an estimate of epitope conservation across othologous proteins.
See help pages for explanation. Note that a BLAST may take several minutes to
complete. Results are cached for re-use.
</div>
</div>

<div id="resultdiv" class="span9 offset1">

</div>

<div id="plotdiv" class="span9 offset1">
</div>

</div>

<script>
jQuery('#myform').submit(function() {
  $( ".span9" ).empty();
  $("#resultdiv").html('<div class="ajax-loader"> <div> please wait.. </div> <br><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'conservationanalysis.load')}}',
    ['label','genome','tag','method','n','identity','entrezquery'], 'resultdiv');
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'plots.load')}}', ['label','genome','tag','n','width'], 'plotdiv');
  return false;
});
</script>



