{{left_sidebar_enabled,right_sidebar_enabled=True,True}}
{{extend 'layout.html'}}

{{block left_sidebar}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>

{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{actions = (('View predictions','quickview'),('Submit job','submit'),
            ('Find protein','search'),
	      ('Add/view genomes','genomes'), ('Add/view sequences','sequences'),
	      ('Find experimental data','datasourcesearch'),
	      ('Genome analysis','genomeanalysis'),
	      ('Epitope conservation','conservation'),
	      ('Configuration','admin')) }}

{{for a in actions:}}
<h4>{{=A(a[0], _href=URL(r=request,f=a[1]))}}<h4>
{{pass}}

{{end}}

<h3>Quick view</h3>
<div>
{{=searchform}}
</div>

{{block right_sidebar}}

<div>
{{=IMG(_src=URL('static/images','front_image.png'),_width=500)}}
</div>

{{end}}

<div id='plotdiv' class='span8'>
</div>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'plots.load')}}',
  ['label','genome','tag','gene','width','height','n'], 'plotdiv');
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  $( ".span8" ).empty();
  $("#plotdiv").html('<div class="ajax-loader"><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>


