{{=TITLE(genome+' '+tag)}}
{{extend 'layout.html'}}

<div class="row">

<div class='span12'>

<div style="float: left">
<h4>
{{=A('previous', _href=URL('default','protein',args=[label,genome,previous]))}}
{{=A('next', _href=URL('default','protein',args=[label,genome,next]))}}
</h4>

{{=(H4(tag))}}
{{'''=H5(q['product'][0])'''}}
</div>

{{=LOAD(c='default',f='show.load',target='resultsdiv',
        vars={'label':label,'genome':genome,'tag':tag,'n':n,'width':'1050',
                'perccutoff':.95})}}

</div>

</div>




