{{extend 'layout.html'}}

<div class="row">

<div class="span2">
{{=form}}
    <div id="heading" class="heading">
    </div>
</div>

<div id='resultdiv' class='span9 offset1'>

</div>

<div id='searchdiv' class='span9 offset1'>
</div>

</div>

<div class="row">
<div class="span2">


</div>
</div>

<script>
jQuery('#myform').submit(function() {
  $( ".span9" ).empty();
  $("#resultdiv").html('<div class="ajax-loader"><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'show.load')}}',
    ['label','genome','tag','gene','n','perccutoff','annotation'], 'resultdiv');
  return false;
});
</script>

<script>
jQuery('#findform').submit(function() {
  ajax('{{=URL('default', 'find.load')}}',
    ['genome','gene','description'], 'searchdiv');
  return false;
});
</script>
