{{=TITLE('Epitopemap search')}}
{{extend 'layout.html'}}

<div class="row">
<div class="span2">
{{=form}}
</div>

<div class="span9 offset1">
{{=msg}}
<div class="scrollingArea" style="width:100%">
{{=XML(results.to_html(classes="sortable",na_rep='-',escape=False))}}
</div>
</div>

<div id='resultdiv' class='span9 offset1'>

</div>
</div>

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'search.load')}}',
    ['genome','gene'], 'resultdiv');
  return false;
});
</script>
