{{=TITLE('Epitopemap search')}}
{{extend 'layout.html'}}

<div class="row">
<div class="span2">
{{=form}}
<div class="heading">
<p>Search by gene or description in your genome to find the appropriate locus tags.
Leave blank to see all proteins.
</p>
</div>
</div>

<div id='resultdiv' class='span9 offset1'>

</div>
</div>

<script>
jQuery('#findform').submit(function() {
  $( ".span9" ).empty();
  $("#resultdiv").html('<div class="ajax-loader"><img src=../static/images/ajax-loader.gif ></div>')
  return false;
});
</script>

<script>
jQuery('#findform').submit(function() {
  ajax('{{=URL('default', 'find.load')}}',
    ['genome','gene','description'], 'resultdiv');
  return false;
});
</script>
