{{=TITLE('test')}}
{{extend 'layout.html'}}

<div style="float: left">
{{=XML(exp.to_html(classes='tinytable'))}}
</div>

{{=XML(figure)}}

<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('default', 'bokehtest.load')}}', [], 'bokeh');
  return false;
});
</script>

<script>
$(document).ready(function() {
    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        // Show/Hide Tabs
        $('.tabs ' + currentAttrValue).show().siblings().hide();
        // Change/remove current tab to active
        $(this).parent('li').addClass('active').siblings().removeClass('active');

        e.preventDefault();
    });
});

</script>
